body {
  margin: 0;
  padding: 0;
  background-color: rgb(207, 207, 207);
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
}

.main-class {
  height: 100%;
}

.main-container {
  top: 100px;
  margin-left: 25%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  flex-direction: column;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 18px 4px;
  margin-bottom: 200px;
}

.app-title {
  margin-left: 2px;
  color: #545862;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.icon-refresh {
  margin-right: 8px;
  cursor: pointer;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}

.input-container {
  display: flex;
  flex-direction: column;
  border: #fff;
}

#todo-input {
  padding-left: 5px;
  line-height: 50px;
  border: none;
  font-style: italic;
  font-size: 15px;
  width: 99%;
  height: 45px;
  border-bottom: 1px solid rgb(207, 207, 207);
  border-top: none;
  border-left: none;
  border-right: none;
}

p {
  line-height: 16px;
  word-wrap: break-word;
  font-weight: 200;
  font-size: 15px;
  text-align: left;
}

.add-todo-btn {
  margin-left: -40px;
  border: none;
  background-color: #0000;
  cursor: pointer;
}

.items-list {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  list-style: none;
  padding-inline-start: 0;
}

li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(207, 207, 207);
}

.material-icons {
  display: flex;
  align-items: center;
  color: rgb(85, 85, 85);
}

.more-info {
  cursor: pointer;
}

.update-status {
  cursor: context-menu;
}

.line-through {
  text-decoration: line-through;
}

.update-status.done {
  color: dodgerblue !important;
}

.footer-btn {
  margin-top: -16px;
  height: 45px;
  display: flex;
  justify-content: center;
}

.delete-btn {
  background-color: rgb(207, 207, 207);
  border: none;
  cursor: pointer;
  font-size: 15px;
  color: #545862;
}
